<div class="institution">
  <span class="icon institution"></span>
  <% if institution.id == current_user.institution.id %>
  	<%= link_to(institution.full_name, edit_institution_path(institution), :class => "bold")%>
  <%else%>
  	<%= link_to(institution.full_name, edit_institution_path(institution))%>
  <%end%>
</div>
