<h1>Institution Hierarchy</h1>
<table class="table">
   
   <tbody>
   	<% @institutions.each do |institution| %>
   		<tr>
   			<td><%= institution.full_name %></td>	
  		</tr>
  	<% end %>
   </tbody>	

</table>
