<% @title_text = "Institution Profile" %>
<% @display_menu = "institution" %>
<h1 class="row-fluid"><span class="icon institution-profile"></span>Institution Profile</h1>
<div class="tabbable">
  <ul class="nav nav-tabs">
		<li><a class="active" href="#tab1" data-toggle="tab">Institution Information</a></li>
    <li><a href="#tab2" data-toggle="tab">Institutional Resources</a></li>
    <% if user_role_in?(:dmp_admin) %>
      <li><a href="#tab3" data-toggle="tab">Institution Hierarchy</a></li>
    <%end%>
    <li><a href="#tab4" data-toggle="tab">Assign Roles</a></li>
		<% unless @institution_statistics.nil? %>
			<li><a href="#tab5" data-toggle="tab">Usage</a></li>
		<% end %>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= render 'form' %>
    </div>

     <div class="tab-pane" id="tab2">
        <%= render 'institutional_resources' %>
    </div>

    <div class="tab-pane" id="tab4">
        <%= render 'manage_users' %>
    </div>

		<% unless @institution_statistics.nil? %>
			<div class="tab-pane" id="tab5">
				<%= render 'usage' %>
			</div>
		<% end %>
  </div>
</div>

<script type="text/javascript">
  tab_jump();
  add_tab_to_pagination();
</script>



 
    
  

