.tabbable
  / Only required for left/right tabs
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", href: "#tab1"} Institution Information
    %li
      %a{"data-toggle" => "tab", href: "#tab2"} Institutional Administrators
    %li
      %a{"data-toggle" => "tab", href: "#tab3"} Institutional Hierarchy
  .tab-content
    #tab1.tab-pane.active
      = render 'form'
    #tab2.tab-pane
      = render 'institutional_administrators'
    #tab3.tab-pane
      = nested_institutions @institutions.arrange(order: :created_at)
      %br/
      %hr/
      = link_to 'Add New Institution', new_institution_path



