<h1 class="row-fluid"><span class="icon institution-profile"></span>New institution</h1>
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><%= link_to 'Institution Information', '#tab1', 'data-toggle' => 'tab' %></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
			<%= render 'form' %>
		</div>
  </div>
</div>
