<% #this takes the nodes on one level of the requirements as the variable requirements %>

<ul>
	<% requirements.each do |requirement| %>
		<li>
			<%= link_to(requirement.text_brief) %>
			<%= render :partial => 'tree_level', :locals => {requirements: requirement.children} %>
		</li>
	<% end %>
</ul>