<div class="row">
	<div class="span8 two_col">
		<div>Overview</div>
		<div class="col1">
			<div>
				<div class="head">My DMPs</div>
				<div><%= current_user.owned_plans.count %> plans I own</div>
				<div><%= current_user.coowned_plans.count %> plans i co-own</div>
			</div>
		</div>
		<div class="col2">
			<div>
				<div class="head">My DMPs under review</div>
				<div>nn Submitted</div>
				<div>nn Approved</div>
				<div>nn Rejected</div>
			</div>
		</div>
		<div class="button_row">CREATE NEW BUTTON HERE</div>
	</div>
</div>
		


<div class="row">
	<div class="span8 two_col">
		<div>DMPs for My Review</div>
		<div class="col1">
			<div>
				<div>nn DMPs pending review</div>
				<div>nn DMPs finished review</div>
			</div>
		</div>
		<div class="col2">
		</div>
	</div>
</div>


<div class="row">
	<div class="span8 two_col">
		<div>DMP Templates</div>
		<div class="col1">
			<div>
				<div class="head">Within my Institution</div>
				<div>nn DMP Templates only for my institution</div>
				<div>nn DMP Templates publically available</div>
			</div>
		</div>
		<div class="col2">
			<div>
				<div class="head">Funder Requirements</div>
				<div>nn Public DMP Templates</div>
			</div>
		</div>
		<div class="button_row">CREATE NEW BUTTON HERE</div>
	</div>
</div>



<div class="row">
	<div class="span8 two_col">
		<div>Resource Templates</div>
		<div class="col1">
			<div>
				<div>nn Resource templates</div>
			</div>
		</div>
		<div class="col2">
		</div>
		<div class="button_row">CREATE NEW BUTTON HERE</div>
	</div>
</div>