<%
 # This partial takes locals variables for guidance collection called "templates"
  # it also takes a variable called public with values true or false since
  # the layout differs for public items from the institution-only guidance
%>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="span5">Plan Title</th>
			<th>Funder Template Template</th>
			<th>Institution</th>
			<th>Links</th>
			<th>Download</th>
		</tr>
	</thead>
	<tbody>
			<tr>
				<td><strong>Particle Speeds in High Velocity Specs</strong></td>
				<td class="nowrap">NSF-GEO</td>
				<td class="nowrap">UCLA</td>
				<td>Link</td>
				<td class="nowrap span1">
					<%= link_to "", "#", :class => 'icon pdf', :target => '_blank' %>
				</td>
			</tr>
	</tbody>
</table>
<div class="buttons pagination">
	<%= link_to "View All", "#", :method => :get, :class => "btn"%>
</div>
