<div class="static-page">
	<h1>About the DMPTool</h1>
	<hr/>
	
	<h2>Table of Contents</h2>
	<ul>
		<li><a title="Why the DMPTool?" href="#why">Why the DMPTool?</a></li>
		<li><a title="Frequently Asked Questions" href="#faq">Frequently Asked Questions</a></li>
		<li><a title="Video" href="#video">Video</a></li>
		<li><a title="DMPTool Background" href="#background">DMPTool Background</a></li>
		<li><a title="Partner Institutions" href="#partners">Partner Institutions</li>
		<li><a title="Presentations and Press" href="#press">Presentations and Press</a></li>
		<li><a title="Contact Information" href="#contact">Contact Information</a></li>
	</ul>
	
	<h2 id="why">Why the DMPTool?</h2>
	<p>Scholarly researchers today are increasingly required to engage in a range of data management activities to comply with institutional policies, or as a precondition for publication or grant funding. Data management plans are now a standard part of grant proposals for most funding agencies. To aid researchers in creating effective data management plans (DMPs), a group of organizations collaborated on the development of the DMPTool, an online application that helps researchers create data management plans. The DMPTool provides detailed guidance and links to general and institutional resources and walks a researcher through the process of generating a comprehensive plan tailored to specific DMP requirements.</p>
	
	<h2 id="faq">Frequently Asked Questions</h2>
	<p>Go to <a title="DMPTool Askbot" href="http://dmptool.askbot.com" target="_blank">dmptool.askbot.com</a>  to see our answers to frequently asked questions and to ask your own.</p>
	
	<h2 id="video">Video</h2>
	<p>Want a quick overview of the DMPTool? Check out our 90-second video describing the DMPTool's features. 
	<%= link_to "Go to DMPTool Video page", video_path, :title => "Video" %>
	</p>
	
	<h2 id="background">DMPTool Background</h2>
	<p>The original DMPTool was a grassroots effort, beginning in January 2011 with eight institutions partnering to provide in-kind contributions of personnel and development. The effort was in direct response to demands from funding agencies, such as the National Science Foundation (NSF) and the National Institutes of Health (NIH), that researchers plan for managing their research data. By joining forces the contributing institutions are able to consolidate expertise and reduce costs in addressing data management needs.
	</p>
	
	<h3>The original contributing institutions were:</h3>
	<ul>
		<li><a title="The University of California Curation Center" href="http://www.cdlib.org/services/uc3/" target="_blank">The University of California Curation Center</a> (UC3) at the <a title="California Digital Library" href="http://www.cdlib.org" target="_blank">California Digital Library</a></li>
		<li><a title="DataONE" href="http://www.dataone.org" target="_blank">DataONE</a> </li>
		<li><a title="Digital Curation Centre (UK)" href="http://www.dcc.ac.uk/" target="_blank">Digital Curation Centre (UK)</a></li>
		<li><a title="Smithsonian Institution" href="http://www.si.edu/" target="_blank">Smithsonian Institution</a></li>
		<li><a title="University of California, Los Angeles Library" href="http://www.library.ucla.edu/" target="_blank">University of California, Los Angeles Library</a></li>
		<li><a title="University of California, San Diego Libraries" href="http://libraries.ucsd.edu/" target="_blank">University of California, San Diego Libraries</a></li>
		<li><a title="University of Illinois, Urbana-Champaign Library" href="http://www.library.illinois.edu/" target="_blank">University of Illinois, Urbana-Champaign Library</a></li>
		<li><a title="University of Virginia Library" href="http://www.library.virginia.edu/" target="_blank">University of Virginia Library</a></li>
	</ul>
	
	<p>Since its release in October 2011, the DMPTool has generated huge interest among the science and library community, including its appearance on the Library of Congress' Top 10 Digital Preservation Developments of 2011. As of November 2013, more than 6,000 users from over 600 institutions have used the DMPTool. Given the success of the first version of the DMPTool, the founding partners obtained funding from the <a title="Alfred P. Sloan Foundation" href="http://sloan.org" target="_blank">Alfred P. Sloan Foundation</a> to create a second version of the tool, released in 2014.
	</p>
	
	<h3>Steering Group</h3>
	<p>The DMPTool Steering Group is a small coordinating body composed of persons elected from the original DMPTool partner institutions. The DMPTool Steering Group directs the technical, content, and community development of the DMPTool. If your institution is a partner and you are interested in joining the Steering Group, please 
	<%= link_to "Contact Us", contact_path, :title => "Contact Us", data: {no_turbolink: true} %>.
	</p>
	
	<h2 id="partners">Partner Institutions</h2>
	<p>Partner institutions can configure the tool to point to their resources and services, provide customized help, and provide suggested answers to the questions asked by funding agencies. DMPTool users affiliated with partner institutions can login with their own institutional accounts. For a list of current partner institutions, including local contact information, see 
	<%= link_to "Partner Institutions", partners_path, :title => "Partners", data: {no_turbolink: true} %>.
	</p>
	
	<h2 id="press">Presentations and Press</h2>
	<p> The original DMPTool partners maintain a list of presentations and press related to the DMPTool at the DMPTool blog: <a title="DMPTool Presentations and Press" href="http://blog.dmptool.org/presentations-and-press" target="_blank">DMPTool Presentations and Press</a>
	</p>
	
	<h2 id="contact">Contact Information</h2>
	<p>For more information about the DMPTool, please <%= link_to "contact us", contact_path, :title => "contact us", data: {no_turbolink: true} %>.</p>
	<blockquote>
		<strong>Mailing Address:</strong><br/>
		California Digital Library<br />
		UC Office of the President<br />
		415 20th St, 4th Floor<br />
		Oakland CA 94612
	</blockquote>
</div>
