%h4 About the DMPTool
.about_data
  %p U.S. funding agencies such as the National Science Foundation and the National Institutes of Health require researchers to supply detailed, cost-effective plans for managing research data, called Data Management Plans.
  %p Several universities and organizations are developing the DMPTool to help researchers meet these new requirements. In specific, the DMPTool will help researchers:
  %ul
    %li Create ready-to-use data management plans for specific funding agencies
    %li Meet requirements for data management plans
    %li Get step-by-step instructions and guidance for data management plan
    %li Learn about resources and services available at your institution to fulfill the data management requirements of their grants
  %strong Get Started
  %p
    Click on the #{link_to("Get Started", '#')} button on the Home page. If your institution is one of our partner institutions, select it from the dropdown list. You may be directed to your own institution's login page, or you may be asked to create an account. If your institution is not listed, you can still create an account and use the DMPTool. Once you've set up an account, select My Plans from the navigation bar to begin a data management plan.

  %strong DMP Tool Partners
  %strong Joining forces to consolidate expertise and help researchers
  %p
    A group of major research institutions has partnered to create a flexible online tool to help researchers generate data management plans. This effort is in direct response to demands from funding agencies, such as the National Science Foundation (NSF) and the National Institutes of Health (NIH), that researchers plan for managing their research data.  By joining forces the
    %em contributing institutions
    are able to consolidate expertise and reduce costs in addressing data management needs. The primary goal of the partnership is to simplify the process of creating plans while increasing the quality of decisions made by funders to pre-define policies and infrastructures that support research activities.
  %p This is the list of original contributing institutions:
  %ul
    %li
      %a{:href => "http://www.cdlib.org/services/uc3/"} The University of California Curation Center (UC3)
      at the
      %a{:href => "http://www.cdlib.org"} California Digital Library
    %li
      %a{:href => "http://www.dataone.org"} DataONE
    %li
      %a{:href => "http://www.dcc.ac.uk/"} Digital Curation Centre (UK)
    %li
      %a{:href => "http://www.si.edu"} Smithsonian Institution
    %li
      %a{:href => "http://www.library.ucla.edu"} University of California, Los Angeles Library
    %li
      %a{:href => "http://libraries.ucsd.edu"} University of California, San Diego Libraries
    %li
      %a{:href => "http://www.illinois.edu"} University of Illinois, Urbana-Champaign
    %li
      %a{:href => "http://www.lib.virginia.edu"} University of Virginia Library
  %strong Become a Contributing Institution
  %p
    Contributing institutions can submit information pointing to their resources and services to aid researchers with data management. Institutions can also provide customized help and even suggest answers to the questions asked by funding agencies. The
    %a{:href => "http://dmp.cdlib.org/help/video_demo"} video demo
    shows how local resources and services appear to researchers using the DMPTool.
  %p
    Persons affiliated with contributing institutions can login with their own institutional accounts. Persons not affiliated with contributing institutions will need to set up an account on the DMP Tool itself. See the #{link_to("Login", login_path)} page for more information.
  %p
    If you'd like to your organization to participate, contact
    %a{:href => "mailto:uc3@ucop.edu"} uc3@ucop.edu
