<h4> Data Management Plan Tool </h4>
<br/>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
    </div>
  </div>

  <div class="contain">
    <div class="row-fluid">
      <div class="span4">
        <%= render 'data_management_plans' %>
      </div>
      <div class="span4">
        <%= render 'how_to_use' %>
      </div>
      <div class="span4">
        <%= render 'dmptool_news' %>
      </div>
    </div>
  </div>
</div>