<div class="banner row-fluid">
	<%= link_to "Get Started", (current_user ? dashboard_path: choose_institution_path), :class => "btn btn-large" %>
</div>
<div class="buckets-header row-fluid">
  <div class="span4">
  	<h2><span class="icon public-dmps"></span>Public DMPs</h2>
  </div>
  <div class="span4">
  	<h2><span class="icon news"></span>DMPTool News</h2>
  </div>
  <div class="span4">
  	<h2><span class="icon help"></span>DMPTool Help</h2>
  </div>
</div>
<div class="buckets row-fluid">
  <div class="data_management_plans span4">
    <%= render "public_dmps" %>
  </div>
  <div class="dmp_tool_news span4">
    <%= render "dmptool_news" %>
  </div>
  <div class="how_to_use span4">
    <%= render "dmptool_help" %>
  </div>
</div>