<div class="static-page row-fluid">
	<h1>About Partners</h1>
	<h2>Becoming a DMPTool Partner</h2>
	<p>DMPTool Partners are institutions, profit and nonprofit entities, individuals, or other groups that are committed to the DMPTool's utility and success as an effective and efficient way to create data management plans. Our goal in establishing and recognizing our partner institutions is to build a committed community of users that sustain and support  the evolution of the DMPTool. Institutions can become partners by agreeing to the Partner Principles below (no signature required), plus completing at least one of the following:
	</p>
	<ul>
		<li>Establish institutional authentication with the DMPTool (Shibboleth, LDAP, etc.)</li>
		<li>Customize the tool with resources, help text, suggested answers, or other information.</li>
		<li>Contribute to the maintenance and enhancement of the DMPTool codebase.</li>
	</ul>

	<h2>Partner Principles</h2>
	<p>Our work on the DMPTool is guided by the principles below. Institutions and organizations that partner with the DMPTool are expected to understand and abide by these principles.</p>
	<ul>
		<li>Continuous improvement of the DMPTool's utility and features</li>
		<li>User-driven requirements and priorities for development</li>
		<li>Community-driven forward progress on tool improvement</li>
		<li>Enthusiasm for the DMPTool</li>
		<li>Integrity of plans created and resources offered</li>
		<li>Commitment to an open process for development, enhancement, and improvement (see <a title="Panton Principles" href="http://pantonprinciples.org/" target="_blank">Panton Principles</a>)</li>
		<li>Quality of code and materials created</li>
	</ul>
	<p>These principles are supported by the following activities.</p>
	
	<h2>Supporting Activities</h2>
	<ol>
		<li>Enhance their users' DMPTool experience by accomplishing one or more of the following:
			<ul>
				<li>Maintain an institutional authentication connection with the DMPTool</li>
				<li>Develop institution-specific guidance, resources, and help text</li>
				<li>Generate institution-specific templates for data management plans</li>
				<li>Customize the appearance and functionality of the DMPTool with their institutional logo and/or contact information.</li>
			</ul>
		</li>
		<li>Designate a primary administrator as the institution's contact point for the DMPTool listserv and any partner communications.</li>
		<li>Designate an individual to hold the institutional administrator role in the DMPTool.  This role provides important privileges regarding customization of institutional branding; plan resources, help text, and suggested answers; and plan review. </li>
		<li>Help ensure that the DMPTool maintains its relevance and utility. Notify the DMPTool Steering Group if:
			<ul>
				<li>Funders release new requirements that are not reflected in the tool.</li>
				<li>Errors, mistakes, or misinformation are discovered in the tool.</li>
				<li>The tool's functionality is compromised (i.e., slow response times, poor performance, or software bugs).</li>
			</ul>
		</li>
		<li>Contribute to an environment of shared efforts and resources:
			<ul>
				<li>Encourage DMP creators to share their plans created with the DMPTool, either within their institution or publicly.</li>
				<li>Share institutional templates created with the broader DMPTool community.</li>
				<li>Contribute materials to the DMPTool Library.</li>
			</ul>
		</li>
		<li>Participate in the broader DMPTool Community by:
			<ul>
				<li>Contribute a blog post to the <a title="DMPTool Blog" href="http://blog.dmptool.org" target="_blank">DMPTool Blog</a> </li>
				<li>Present on the DMPTool at conferences or meetings</li>
				<li>Use the [listserv] to share important data management news</li>
				<li>Improve on the codebase at [bitbucket.org]</li>
				<li>Encourage colleagues at non-partner institutions to join our efforts</li>
			</ul>
		</li>
		<li>Adopt and agree to the following intellectual property licensing and ownership principles:
			<ul>
				<li>Contributors warrant that their work for the DMPTool does not infringe on the legal rights of any person or entity, including but not limited to intellectual property rights. This warranty includes ensuring that Contributors have properly addressed any institutional rights of their "home" or employing institutions, and that they have properly treated any third party software that has been incorporated, including any open source software.</li>
				<li>All code contributed and accepted to the project will be distributed as open source software, licensed under an Apache 2.0 license. Contributors must agree to and sign the applicable (individual and/or corporate) licensing agreement before integrating code into the application for release.</li>
				<li>DMPTool project content, documentation, designs and other written artifacts will also be made available under a Creative Commons Zero or BY license. For the avoidance of doubt, the DMPTool name and identity is subject to legal protection and is not subject to use by others except with the permission of the DMPTool Steering Group.</li>
				<li>Data management plans recorded in the application remain the property of the person or agency creating the plans. Users may remove their plans from the DMPTool at any time.</li>
			</ul>
		</li>
	</ol>

	<h2>Current List of Partners</h2>
	<p>See a current list of DMPTool Partners <a title="DMPTool Partners" href="http://www.cdlib.org/services/partnertable/" target="_blank">here</a></p><!-- this is not the correct URL! -->
</div>
