<div class="static-page">
	<h1 class"title">Promote the DMPTool</h1>
	<hr/>
	
	<h2>Table of Contents</h2>
	<ul>
		<li><a title="DMPTool Logo" href="#dmptool-logo">DMPTool Logo</a></li>
		<li><a title="Postcards" href="#postcards">Postcards</a></li>
		<li><a title="Talking Points" href="#talking-points">Talking Points</a></li>
		<li><a title="General Purpose Slides" href="#slides">General Purpose Slides</a></li>
		<li><a title="Embedable Advertisements for your Website" href="#embedable">Embedable Advertisements for your Website</a></li>
	</ul>
	<p>Help spread the word about the DMPTool! Use the materials below to inform researchers, librarians, administrators and others about the tool.</p>
	
	<h2 id="dmptool-logo">DMPTool logo, updated January 2014</h2>
	<ul>
		<li><a title="DMPTool Logo, with tagline" href="https://bitbucket.org/dmptool/main/downloads/DMPTlogo_withTagline.jpg">DMPTool Logo, with tagline</a></li>
		<li><a title="DMPTool Logo, no tagline" href="https://bitbucket.org/dmptool/main/downloads/DMPTlogo_noTagline.jpg">DMPTool Logo, no tagline</a></li>
		<li><a title="Old DMPTool Logo" href="https://bitbucket.org/dmptool/main/downloads/DMPTool_old.jpg">Old DMPTool Logo</a></li>
	</ul>
	
	<h2 id="postcards">Postcards</h2>
	<p>Advertise the DMPTool to students and researchers at your institution. Microsoft PowerPoint and Adobe InDesign versions can be customized with your institution’s logo and contact information.</p>
	<ul>
		<li><a title="Microsoft PowerPoint" href="https://bitbucket.org/dmptool/main/downloads/DMPTool_newPostcard_sized_UVAexample.pptx">Microsoft PowerPoint (can be customized) </a></li>
		<li><a title="Adobe PDF" href="https://bitbucket.org/dmptool/main/downloads/DMPTool_postcard_New.pdf">Adobe PDF</a></li>
		<li><a title="Adobe InDesign" href="https://bitbucket.org/dmptool/main/downloads/DMPTool_postcard_FINAL.indd">Adobe InDesign (can be customized)</a></li> 
	</ul>
	
	<h2 id="talking-points">Talking Points</h2>
	<p>Need to get others on your campus interested in the DMPTool? Use our Talking Points to guide your discussions. In general, a talking points document is designed to help you stay on track during meetings with those outside of your department. It ensures that your major points are at hand and helps you make progress towards the goals of the meeting.</p>
	<ul>
		<li>Overview of Talking Points: <a title="Overview of Talking Points: Adobe PDF" href="https://bitbucket.org/dmptool/main/downloads/DMPTool_Talkingpoints_v1.pdf" target="_blank">Adobe PDF</a></li>
		<li>Meeting with your IT Group: <a title="Meeting with your IT Group: Microsoft Word" href="https://bitbucket.org/dmptool/main/downloads/Talking%20Points%20IT%20Group.docx">Microsoft Word</a> or <a title="Meeting with your IT Group: Adobe PDF" href="https://bitbucket.org/dmptool/main/downloads/Talking%20Points%20IT%20Group.pdf">Adobe PDF</a></li>
		<li>Meeting with Administrators: <a title="Meeting with Administrators: Microsoft Word" href="https://bitbucket.org/dmptool/main/downloads/Talking%20Points%20program%20admin.docx">Microsoft Word</a> or <a title="Meeting with Administrators: Adobe PDF" href="https://bitbucket.org/dmptool/main/downloads/Talking%20Points%20program%20admin.pdf" target="_blank">Adobe PDF</a></li>
		<li>Meeting with Researchers: <a title="Meeting with Researchers: Microsoft Word" href="https://bitbucket.org/dmptool/main/downloads/Talking%20Points%20student.docx">Microsoft Word</a> or <a title="Meeting with Researchers: Adobe PDF" href="https://bitbucket.org/dmptool/main/downloads/Talking%20Points%20student.pdf" target="_blank">Adobe PDF</a></li>
	</ul>
	
	<h2 id="slides">General Purpose Slides</h2>
	<p>We created a generic slide deck that you can use to introduce researchers and others to the DMPTool.</p>
	<ul>
		<li><a href="">Microsoft PowerPoint</a> [awaiting links]</li>
		<li><a href="">Google Presentation</a> [awaiting links]</li>
	</ul>

	<h2 id="embedable">Embedable Advertisements for your Website</h2>
	Copy/paste the HTML text below into your website to promote the DMPTool. 
	
	<h3>DMPTool Advertisement 1</h3>
	<p><a title="Link to DMPTool" href="http://dmptool.org" target="_blank"><img alt="Link to DMPTool" title="Link to DMPTool" src="https://bitbucket.org/dmptool/main/downloads/DMP_ad1.png" width="190" height="190" /></a></p>
	<p><a title="Download Image" href="https://bitbucket.org/dmptool/main/downloads/DMP_ad1.png" target="_blank">Download Image</a></p>
	<pre>&lt;a title="Link to DMPTool" href="http://dmptool.org" target="_blank"&gt;&lt;img src="https://bitbucket.org/dmptool/main/downloads/DMP_ad1.png" alt="Link to DMPTool" title="Link to DMPTool" width="190" height="190" /&gt;&lt;/a&gt;</pre></li>
	
	<h3>DMPTool Advertisement 2</h3>
	<p><a title="Link to DMPTool" href="http://dmptool.org" target="_blank"><img alt="Link to DMPTool" title="Link to DMPTool" src="https://bitbucket.org/dmptool/main/downloads/DMP_ad2.png" width="190" height="190" /></a></p>
	<p><a title="Download Image" href="https://bitbucket.org/dmptool/main/downloads/DMP_ad2.png">Download Image</a></p>
	<pre>&lt;a title="Link to DMPTool" href="http://dmptool.org" target="_blank"&gt;&lt;img src="https://bitbucket.org/dmptool/main/downloads/DMP_ad2.png" alt="Link to DMPTool" title="Link to DMPTool" width="190" height="190" /&gt;&lt;/a&gt;</pre>
	
	<h3>DMPTool Advertisement 3</h3>
	<p><a title="Link to DMPTool video" href="http://dmptool.org/video" target="_blank"><img alt="Link to DMPTool video" title="Link to DMPTool video" src="https://bitbucket.org/dmptool/main/downloads/DMP_ad3.png" width="190" height="190" /></a></p>
	<p><a title="Download Image" href="https://bitbucket.org/dmptool/main/downloads/DMP_ad3.png">Download Image</a></p>
	<pre>&lt;a title="Link to DMPTool video" href="http://dmptool.org/video" target="_blank"&gt;&lt;img src="https://bitbucket.org/dmptool/main/downloads/DMP_ad3.png" alt="Link to DMPTool video" title="Link to DMPTool video" width="190" height="190" /&gt;&lt;/a&gt;</pre>
	
	<h3>DMPTool Advertisement 4</h3>
	<p><a title="Link to DMPTool" href="http://dmptool.org/" target="_blank"><img alt="Link to DMPTool" title="Link to DMPTool" src="https://bitbucket.org/dmptool/main/downloads/DMP_ad4.png" width="190" height="190" /></a></p>
	<p><a title="Download Image" href="https://bitbucket.org/dmptool/main/downloads/DMP_ad4.png">Download Image</a></p>
	<pre>&lt;a title="Link to DMPTool" href="http://dmptool.org/" target="_blank"&gt;&lt;img src="https://bitbucket.org/dmptool/main/downloads/DMP_ad4.png" alt="Link to DMPTool" title="Link to DMPTool" width="190" height="190" /&gt;&lt;/a&gt;</pre>
</div>
