<div class="static-page row-fluid">
	<h1 class"title">Promote the DMPTool</h1>
	
	<p>Help spread the word about the DMPTool! Use the materials below to inform researchers, librarians, administrators and others about the tool.</p>
	
	
	<h2>DMPTool logo, updated January 2014</h2>
		<ul>
			<li><a href="https://bitbucket.org/dmptool/main/downloads/DMPTlogo_withTagline.jpg">DMPTool Logo, with tagline</a></li>
			<li><a href="https://bitbucket.org/dmptool/main/downloads/DMPTlogo_noTagline.jpg">DMPTool Logo, no tagline</a></li>
			<li><a href="https://bitbucket.org/dmptool/main/downloads/DMPTool_old.jpg">Old DMPTool Logo </a></li>
		</ul>
	
	<h2>Postcards</h2>
	<p>Advertise the DMPTool to students and researchers at your institution. Microsoft PowerPoint and Adobe InDesign versions can be customized with your institution’s logo and contact information.</p>
		<ul>
			<li><a href="https://bitbucket.org/dmptool/main/downloads/DMPTool_newPostcard_sized_UVAexample.pptx">Microsoft PowerPoint (can be customized) </a></li>
			<li><a href="https://bitbucket.org/dmptool/main/downloads/DMPTool_postcard_New.pdf">Adobe PDF</a></li>
			<li><a href="https://bitbucket.org/dmptool/main/downloads/DMPTool_postcard_FINAL.indd">Adobe InDesign (can be customized)</a></li> 
		</ul>
	
	<h2>Talking Points</h2>
	<p>Need to get others on your campus interested in the DMPTool? Use our Talking Points to guide your discussions. In general, a talking points document is designed to help you stay on track during meetings with those outside of your department. It ensures that your major points are at hand and helps you make progress towards the goals of the meeting. </p>
		<ul>
			<li><a href="https://bitbucket.org/dmptool/main/downloads/DMPTool_Talkingpoints_v1.pdf">Overview of Talking Points: Adobe PDF</a></li>
			<li>Meeting with your IT Group: <a href="https://bitbucket.org/dmptool/main/downloads/Talking%20Points%20IT%20Group.docx">Microsoft Word</a> or <a href="https://bitbucket.org/dmptool/main/downloads/Talking%20Points%20IT%20Group.pdf">Adobe PDF</a></li>
			<li>Meeting with Administrators: <a href="https://bitbucket.org/dmptool/main/downloads/Talking%20Points%20program%20admin.docx">Microsoft Word</a> or <a href="https://bitbucket.org/dmptool/main/downloads/Talking%20Points%20program%20admin.pdf">Adobe PDF</a></li>
			<li>Meeting with Researchers: <a href="https://bitbucket.org/dmptool/main/downloads/Talking%20Points%20student.docx">Microsoft Word</a> or <a href="https://bitbucket.org/dmptool/main/downloads/Talking%20Points%20student.pdf">Adobe PDF</a></li>
		</ul>
	
	<h2>Embedable Advertisements for your Website</h2>
	Copy/paste the HTML text below into your website to promote the DMPTool. 
	
	<h3>DMPTool Advertisement 1</h3>
	<p><a href="http://dmptool.org" ><img class="alignnone" alt="Link to DMPTool" src="https://bitbucket.org/dmptool/main/downloads/DMP_ad1.png" width="190" height="190" /></a></p>
	<p><a href="https://bitbucket.org/dmptool/main/downloads/DMP_ad1.png">Download Image</a></p>
	<pre>&lt;a href="http://dmptool.org"&gt;&lt;img src="https://bitbucket.org/dmptool/main/downloads/DMP_ad1.png" alt="Link to DMPTool website" width="190" height="190" /&gt;&lt;/a&gt;</pre></li>
	
	<h3>DMPTool Advertisement 2</h3>
	<p><a href="http://dmptool.org" ><img class="alignnone" alt="Link to DMPTool" src="https://bitbucket.org/dmptool/main/downloads/DMP_ad2.png" width="190" height="190" /></a></p>
	<p><a href="https://bitbucket.org/dmptool/main/downloads/DMP_ad2.png">Download Image</a></p>
	<pre>&lt;a href="http://dmptool.org"&gt;&lt;img src="https://bitbucket.org/dmptool/main/downloads/DMP_ad2.png" alt="Link to DMPTool" width="190" height="190" /&gt;&lt;/a&gt;</pre>
	
	<h3>DMPTool Advertisement 3</h3>
	<p><a href="http://dmptool.org/video" ><img class="alignnone" alt="Link to DMPTool video" src="https://bitbucket.org/dmptool/main/downloads/DMP_ad3.png" width="190" height="190" /></a></p>
	<p><a href="https://bitbucket.org/dmptool/main/downloads/DMP_ad3.png">Download Image</a></p>
	<pre>&lt;a href="http://dmptool.org/video"&gt;&lt;img src="https://bitbucket.org/dmptool/main/downloads/DMP_ad3.png" alt="Link to DMPTool video" width="190" height="190" /&gt;&lt;/a&gt;</pre>
	
	<h3>DMPTool Advertisement 4</h3>
	<p><a href="http://dmptool.org/" ><img class="alignnone" alt="Link to DMPTool" src="https://bitbucket.org/dmptool/main/downloads/DMP_ad4.png" width="190" height="190" /></a></p>
	<p><a href="https://bitbucket.org/dmptool/main/downloads/DMP_ad4.png">Download Image</a></p>
	<pre>&lt;a href="http://dmptool.org/"&gt;&lt;img src="https://bitbucket.org/dmptool/main/downloads/DMP_ad4.png" alt="Link to DMPTool" width="190" height="190" /&gt;&lt;/a&gt;</pre>
</div>
