<% @title_text = "Quick Start Guide" %>
<div class="static-page">
	<h1>Quick Start Guide</h1>
	<hr/>
	
	<h2>Table of Contents</h2>
	<ul>
		<ol><a href="#who">Who can use the tool</a></ol>
		<ol><a href="#login">How do I log in?</a></ol>
		<ol><a href="#overview">Overview of tool features</a></ol>
		<ol><a href="#create">How do I create a DMP?</a></ol>
		<ol><a href="#sharing">Sharing your DMP pubolcly</ol>
		<ol><a href="#help">How do I get help from someone at my institution?</a></ol>
	</ul>
	
	<h2 id="who">Who can use the tool</h2>

	<h2 id="login">How do I log in?</h2>

	<h2 id="overview">Overview of tool features</h2>

	<h2 id="create">How do I create a DMP?</h2>

	<h2 id="sharing">Sharing your DMP pubolcly</h2>

	<h2 id="help">How do I get help from someone at my institution?</h2>

</div>
