<div class="static-page row-fluid">
	<h1 class="title">Data Management Planning Tool (DMPTool) Terms of Use</h1>
	
	<p>The DMPTool is hosted by the California Digital Library (CDL). The Terms of Use below apply to the DMPTool.</p>
	
	<h2>The CDL Gateway Site: The Information CDL Collects</h2>
	
	<p>The CDL encourages the use of this site, regardless of domain address, as a way to share information and knowledge in support of the University's three-part mission of education, research and public service. This site is owned by The Regents of the University of California and operated by CDL. Site content is subject to change without notice. While most parts of this site are publicly accessible, certain services and information offered online may be restricted to specific users or segments of the University of California population.</p>
	
	<h2>The CDL Gateway Site: Privacy</h2>
	
	<p>The CDL gateway site, www.cdlib.org, collects information to improve functionality and content and to monitor performance. Data is used to help answer specific questions about the usage and performance of the web site or individual web pages. At no time is site usage associated with individual IP addresses. See the full <a href="/about/privacy.html">California Digital Library Privacy Policy</a></p>
	
	<h2>The CDL Gateway Site and CDL Services: Digital Millennium Copyright Act</h2>
	
	<p>It is CDL's policy to honor all takedown requests that comply with the notification requirements of the Digital Millennium Copyright Act ("DMCA") and other applicable intellectual property laws.</p>
	
	<p>1. <strong>Notification of Copyright Infringement.</strong> To file a notification of claimed copyright infringement, you will need to send a written communication that includes substantially all of the information listed below. (Please consult your legal counsel or see Section 512(c)(3) of the Copyright Act to confirm these requirements):</p>
	
	<ul>
		<li>A physical or electronic signature of a person authorized to act on behalf of the copyright owner ("authorized person") of an exclusive right that is allegedly infringed.</li>
		<li>Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works are covered by a single notification, a representative list of such works.</li>    
		<li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit CDL to locate the material. Providing URLs in the body of your written communication is the best way to help us locate the content quickly.</li>    
		<li>Information reasonably sufficient to permit CDL to contact the authorized person, such as an address, telephone number, and, if available, an electronic mail address.</li>    
		<li>A statement that the authorized person has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.</li>
		<li>A statement that the information in the notification is accurate, and under penalty of perjury, that the authorized person is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>    
	</ul>
	
	<p>Such written notification should be sent to our designated agent via email (preferred) or mail at the following address:   
		<blockquote><a title="Laine Farley" href="http://www.universityofcalifornia.edu/directories/ucopsearch.php?first_name=laine&amp;last_name=farley&amp;submit=1" target="_blank">Laine Farley</a><br />
			Director, California Digital Library<br />
			Office of the President<br />
			University of California<br />
			415 20th Street, 4th Floor<br />
			Oakland, CA 94612-2901
		</blockquote></p>
	       
	<p>Please note that the information provided in the written notification may be forwarded to the person responsible for the allegedly infringing activity. Also note that under Section 512(f) of the Copyright Act, any person who knowingly materially misrepresents that material or activity is infringing may be subject to liability for damages. Don't make false claims!</p>
	
	<p>2. <strong>Counter-Notification</strong> When CDL receives a DMCA takedown notification of alleged copyright infringement, CDL removes the material that is the subject of the notification. If CDL removes materials that you have uploaded to one of CDL's services, CDL will contact you about it.</p>
	
	<p>If you believe your content should not have been removed, you may submit a DMCA counter-notification that includes substantially all of the information listed below. Please consult your legal counsel or see Section 512(g)(3) of the Copyright Act to confirm these requirements:</p>
	
	<ul>
		<li>Your name, address, telephone number and physical or electronic signature;</li>
		<li>Identification of the material and its location before removal;</li>
		<li>A statement under penalty of perjury that the material was removed by mistake or misidentification;</li>
		<li>Your consent to the jurisdiction of federal district court jurisdiction for the address provided and, if your address is outside of the United States, then you must consent to the jurisdiction of any judicial district in which CDL may be found; and</li>
		<li>A statement that you will accept service of process from the person who provided notification of claimed infringement.</li>
	</ul>
	
	<p>Such written counter-notification should be sent to our designated agent via email (preferred) or mail at the following address:
	   <blockquote><a href="http://www.universityofcalifornia.edu/directories/ucopsearch.php?first_name=laine&amp;last_name=farley&amp;submit=1">Laine Farley</a><br />
		   Director, California Digital Library<br />
		   Office of the President<br />
		   University of California<br />
		   415 20th Street, 4th Floor<br />
		   Oakland, CA 94612-2901
	   </blockquote></p>
	
	<p>Please note that the information provided in the counter-notification will be forwarded to the person who submitted the DMCA takedown notification. You consent to having your information forwarded if you submit a counter-notification. Also note that under Section 512(f) of the Copyright Act, any person who knowingly materially misrepresents that material was removed or disabled by mistake or misidentification may be liable for damages.</p>
	
	<p>Please also be advised that we enforce a policy that provides for the termination of user accounts in appropriate circumstances for users who are repeat infringers.</p>
	
	<p>THE INFORMATION PRESENTED ON THIS PAGE IS FOR INFORMATIONAL PURPOSES ONLY AND IS NOT LEGAL ADVICE.</p>
</div>