<div class="static-page row-fluid">
	<h1 class="title">The DMPTool: A Brief Overview</h1>
	<p>This 90-second animation will provide you with an overview of the impetus for the DMPTool, its basic features and capabilities, and why it's a valuable application for researchers from all disciplines. The animation is CC-BY licensed, so please download and share by visiting our <a title="Vimeo site" href="http://vimeo.com/cdlib/dmptool" target="_blank">Vimeo site</a>
	</p>
	
	<div class="embedded-video centered">
		<iframe src="//player.vimeo.com/video/82408192" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<p class="centered"><a href="http://vimeo.com/82408192">DMPTool2 Promotional Video</a> from <a title="California Digital Library" href="http://vimeo.com/cdlib" target="_blank">California Digital Library</a> on <a title="Vimeo" href="https://vimeo.com" target="_blank">Vimeo</a>.</p>
</div>
