<% @title_text = "A Brief Overview" %>
<div class="static-page">
	<h1>The DMPTool: A Brief Overview</h1>
	<hr/>
	
	<p>This 90-second animation will provide you with an overview of the impetus for the DMPTool, its basic features and capabilities, and why it's a valuable application for researchers from all disciplines. The animation is CC-BY licensed, so please download and share by visiting our <a title="Vimeo site" href="http://vimeo.com/cdlib/dmptool" target="_blank">Vimeo site</a>.</p>
	
	<div class="embedded-video centered">
		<iframe src="//player.vimeo.com/video/82408192" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<p><a title="DMPTool2 Promotional Video" href="http://vimeo.com/82408192" target="_blank">DMPTool2 Promotional Video</a> from <a title="California Digital Library" href="http://vimeo.com/cdlib" target="_blank">California Digital Library</a> on <a title="Vimeo" href="https://vimeo.com" target="_blank">Vimeo</a>.</p>
	</div>
	
	<h2>Transcript</h2>
	<p>Many funding agencies are requiring researchers to submit a data management plan alongside their grant applications. These "DMPs" are an outline of what the researcher will to do with their data both during the project and afterward.</p>
	
	<p>The DMPTool can help researchers create DMPs, saving them time and helping them meet funder requirements easily.  It's free for anyone to use, and the code is open-source.</p>
	
	<p>The DMPTool guides the user through making a plan with a step-by-step wizard that provides help text, resources, and suggested answers. Researchers can co-create plans with colleagues, submit their plans to institutional administrators for review and assistance, and save and print their plans</p>
	
	<p>The DMPTool supports all major funders, and is updated when funders release new requirements. That means you can count on the DMPTool to have the latest information.</p>
	
	<p>Institutional administrators can customize the tool for their researchers, providing information on available campus services like data repositories. That means better plans for researchers, since their DMPs will be tailored to the resources at their specific institutions.</p>
	
	<p>Data is now being recognized as a valuable research product. Researchers that use the DMPTool to create quality DMPs will have an edge in the grant selection process, and will be able to more effectively collect, manage, and share their data.</p>
	
	<p>To start using the tool, go to dmptool.org. If you are an institutional administrator interested in partnering with the DMPTool, email us at <a href="http://mailto:uc3@ucop.edu">uc3@ucop.edu.</p>
</div>
