*.log
.DS_Store
.project
.ruby-gemset
.ruby-version
config/database.yml
config/ldap.yml
config/shibboleth.yml
*.old
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
tmp/
app/models/ability.rb
app/views/users/_institutions_list.html.haml
app/views/users/_users_list.html.haml
app/views/users/edit_roles.html.haml
app/views/users/edit_roles.js.erb
config/deploy.yml
spec/models/ability_spec.rb