<% @comments.each do |comment| %>
  <fieldset>
    <div>
      <%= comment.user_id %>:
      <%= comment.value %><br/>
      <%= comment.created_at %>
      <%= link_to 'Destroy', comment, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
    </div>
  </fieldset>
<% end %>
