<% @owner_comments.each do |comment| %>
	<div class="comment">
		<%= user_name(comment) %>:<br/>
		<%= comment.value %><br/>
		<%= comment.created_at.strftime("%m/%d/%Y %I:%M %p") %>
		<%= link_to "", comment, :method => :delete, :data => { :confirm => "Are you sure?"}, :class => "icon trash pull-right" %>
	</div>
<% end %>
