<h2>Global Resources</h2>

<h2>DMP Resources</h2>

<h2><%= @institution.name %> Resources</h2>

<h2><%= @requirements_template.name %> for <%= @institution.name %> Resources</h2>

<h2>Requirement Resources</h2>