<%
# This partial takes the following local variables:
# section_name -- A string that displays a section name
# partial_name -- the name of the partial to call to display each line item
# collection -- the collection of items to display
# editable -- true or false value for whether this item should be editable
%>

<% if collection.length > 0 || editable %>
  <h2><%= section_name %></h2>

  <% collection.each do |resource| %>
    <%= render  :partial => partial_name,
              :locals => { :resource => resource, :editable => editable } %>
  <% end %>
<% end %>

<% if editable %>
  <p> +  Add another one</p>
<% end %>