<style>
  div.customization_tree{}

  div.customization_tree ul{
    margin: 5px 0px 0px 25px;
  }

  div.customization_tree li{
    position: relative;
  }

  div.customization_tree li.current{
    font-weight: bold;
  }

  div.customization_tree li .icon {
    position: absolute;
    left: -20px;
  }
  div.customization_tree li .icon.larger{
    left: -23px;
  }

</style>

<h1 class="row-fluid" id="jump"><span class="icon template-details"></span>Customization Details</h2>
<h2><%= @customization.name %></h2>
<div class="row-fluid">
  <div class="details span4">
    <div class="tree-view border-box">
      <h5>Template Outline</h5>
      <hr/>
      <div class="customization_tree">
        <ul>
          <%= render partial: 'shared/requirements_tree2', locals: { requirements: @requirements.roots } %>
        </ul>
      </div>
    </div>
  </div>
  <div class="tabbable span8">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Guidance</a></li>
      <li><a href="#tab2" data-toggle="tab">Actionable Links</a></li>
      <li><a href="#tab3" data-toggle="tab">Suggested Response</a></li>
      <li><a href="#tab4" data-toggle="tab">Example Response</a></li>
    </ul>
    <div class="tab-content">

      <div class="tab-pane active" id="tab1">
        Guidance here
      </div>

      <div class="tab-pane" id="tab2">
        Actionable Links here
      </div>

      <div class="tab-pane " id="tab3">
        Suggested Response here
      </div>

      <div class="tab-pane" id="tab4">
        Example Response here
      </div>

    </div>
  </div>
</div>