<style>
  div.customization_tree{}

  div.customization_tree ul{
    margin: 5px 0px 0px 25px;
  }

  div.customization_tree li{
    position: relative;
  }
  div.customization_tree li .icon {
    position: absolute;
    left: -20px;
  }
  div.customization_tree li .icon.larger{
    left: -23px;
  }

</style>

<h2 class="dashboard-heading" id="jump"><span class="icon template-details"></span>Customization Details</h2>
<h4><%= @requirements_template.name %></h4>
<div class="row-fluid">
  <div class="details span4">
    <div class="tree-view border-box">
      <h5>Template Outline</h5>
      <hr/>
      <div class="customization_tree">
        <ul>
          <%= render partial: 'shared/requirements_tree2', locals: { requirements: @requirements.roots } %>
        </ul>
      </div>
    </div>
  </div>
  <div class="tabbable span8">
    <ul class="nav nav-tabs">
      <li class="active"><%# link_to 'Requirements', '#tab1', :data => {:toggle => 'tab'} %></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <%# render 'form' %>
      </div>
    </div>
  </div>
</div>