<h1 class="dashboard-heading" id="jump"><span class="icon template-details"></span>Customization Details</h1>
<div class="dmptool-page row-fluid">
	<p><strong><%= @requirements_template.name %></strong></p>
  <div class="details span4">
    <div class="tree-view border-box">
      <p><strong>Template Outline</strong></p>
      <hr/>
      <div class="requirements_tree_view">
        <%= render partial: 'shared/requirements_tree2', locals: { requirements: @requirements } %>
      </div>
    </div>
  </div>
  <div class="tabbable span8">
    <ul class="nav nav-tabs">
      <li class="active"><%# link_to 'Requirements', '#tab1', :data => {:toggle => 'tab'} %></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <%# render 'form' %>
      </div>
    </div>
  </div>
</div>