<div class="control-group">
	<%= f.label :unit_of_measure, :class => "control-label" %>
  <div class="controls">
	    <%= f.text_field(:desc, :class => "input-medium") %>
    	<%= f.hidden_field :_destroy %>
  </div>
</div>