.requirements_tree_view
	%ul.requirements_group
		- @requirements.roots.each do |requirements_sub_group|
			%b=(link_to requirements_sub_group.text_brief, edit_requirements_template_requirement_path(requirements_sub_group.requirements_template, requirements_sub_group))+ " " +(link_to raw('<i class="icon-plus icon-white"></i>'), new_requirements_template_requirement_path(@requirements_template, parent_id: requirements_sub_group), :class => 'img-circle btn-success')+ " " +(link_to raw('<i class="icon-remove icon-white"></i>'), [requirements_sub_group.requirements_template, requirements_sub_group], :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'img-circle btn-danger')
			%ul.requirements_sub_group
			- requirements_sub_group.children.each do |requirements_group|
				%li= (link_to requirements_group.text_brief, edit_requirements_template_requirement_path(requirements_group.requirements_template, requirements_group))+ " " +(link_to raw('<i class="icon-plus icon-white"></i>'), new_requirements_template_requirement_path(@requirements_template, parent_id: requirements_group), :class => 'img-circle btn-success')+ " " +(link_to raw('<i class="icon-remove icon-white"></i>'), [requirements_group.requirements_template, requirements_group], :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'img-circle btn-danger')
				%ul.requirements
				- requirements_group.children.each do |requirement|
					%li=link_to requirement.text_brief, edit_requirements_template_requirement_path(requirement.requirements_template, requirement)+ " " +(link_to raw('<i class="icon-plus icon-white"></i>'), new_requirements_template_requirement_path(@requirements_template, parent_id: requirement), :class => 'img-circle btn-success')+ " " +(link_to raw('<i class="icon-remove icon-white"></i>'), [requirement.requirements_template, requirement], :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'img-circle btn-danger')