<div class="requirements_group" id="req_div_<%= requirement.id %>">
	<ul>
		<li>
			<span class="icon requirement"></span>
				<%= link_to requirement.text_brief, 
			edit_requirements_template_requirement_path(requirement.requirements_template, requirement) + '#jump',
			        class: (requirement.id.to_s == params[:id] ? 'current requirements_text' : ' requirements_text'),
			        :id => "req_text_#{requirement.id}"
			%>
			
		</li>
	</ul>
</div>