.cke_editable ol>li {
    list-style-type: decimal;
    /* first level */
}

.cke_editable ol>li>ol>li{
    list-style-type: decimal;
    /* second level */
}

.cke_editable ol>li>ol>li>ol>li{
    list-style-type: decimal;
    /* third level */
}

.cke_editable ol>li>ol>li>ol>li>ol>li{
    /* fourth level */
    list-style-type: decimal;
}

.cke_editable ol>li>ol>li>ol>li>ol>li>ol>li{
    /* fifth level */
    list-style-type: decimal;
}

.cke_editable ol>li>ol>li>ol>li>ol>li>ol>li>ol>li{
    /* sixth level */
    list-style-type: decimal;
}