<div class="search-area">
	<%= form_tag('', {:method => :get}) do %>
		<%= search_field_tag(:q, params[:q], :class => 'input-large') %>
		<span class="icon search"></span>
		<%= submit_tag('Search') %>
	<% end %>
</div>



