<div class="search-area">
	<%= form_tag('', {:method => :get}) do %>
	<div class="control-group">
		<%= search_field_tag(:q, params[:q], placeholder: 'Search user by name or email', :class => 'input-large') %>
		<%= label_tag :q, "Search", :class => "icon search" %>
		<%= submit_tag('Search') %>
	</div>
	<% end %>
</div>



