<p><b><%= @user.first_name %> Current Roles:</b></p>

<ul>
  <% @roles.each do |role| %>
      <li>
        <%= check_box_tag 'role_ids[]', role.id -%>
        <%= h role.name -%>
      </li>
  <% end %>
</ul>
	


<br />

<%= link_to 'Back', users_path %>




