<h1 class="row-fluid"><span class="icon profile"></span>My Profile</h1>
<%= render 'form'  %>


<!-- <input type="text" class="orcid_widget">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="//researchdata.ands.org.au/apps/assets/orcid_widget/js/orcid_widget.js"></script>

 -->