<p><b>First Name:</b></p>

<p><%= @user.first_name %></p>

<p><b>Email:</b></p>
	
<p><%= @user.email %></p>

<p><b>Roles:</b></p>	

<p><%= @role_ids %></p>


<br />

<%= link_to 'Back', users_path %>


