<div>
  <h2 class="dashboard-heading>
    <span class="icon template-resource"></span>
      Customization Overview
  </h2>
</div>
<br/>
<div style="clear:both">
  <h2>
    Basic Information
  </h2>
</div>

<%= render 'form' %>