
<!DOCTYPE html>
<html>
<head>
  <title>Forbidden (403)</title>
  
</head>

<body>
  <!-- This file lives in public/403.html -->
  <div class="dialog">
    <h1>Forbidden.</h1>
    <p>You are not authorized to perform that action.</p>
    <p>Please, <%= link_to 'Go back.', :back %></p>
  </div>
</body>
</html>

