
<!DOCTYPE html>
<html>
  <head>
    <title>Forbidden (403)</title>
   </head>

  <body>

    <div class="error-message">
      <h1 class="red"> Forbidden.</h1>
      <p>You are not authorized to perform that action.</p>
      <p>Please, go <strong><%= link_to "<< back", :back, :class => "btn btn-green" %></strong></p>
  </div>
</body>
</html>

