<div class="error-message">
	<h1 class="red"> Oops... Something went wrong!</h1>
	<br />
	<p>We've been notified about this issue and we'll take a look at it shortly. </p>
	<p>In the meantime, you can refresh the page or go <strong><%= link_to "back", :back, :title => "back" %></strong>.</p>
</div>
<%= link_to "<< Back", :back, :title => "back", :class => "btn btn-green" %>
