%div#dialog_form
	= form_tag add_role_path, method: :post, remote: true do
		.field
			= label_tag :email, "Editors email"
			= email_field_tag :email, nil, placeholder: " Enter Reviewer's email; multiple emails divided by comma ", class: "input-xxlarge"




