%h4  DMP Template Details
%hr

.template_outline.span4
	%h5 Template Outline

	.template_status
		%strong DMP Template Status:
		= @resource_template.active? ? 'Active' : 'Deactivated'

		= link_to activate_link_text(@resource_template)+ ' ' +'Template', toggle_active_resource_template_path(@resource_template), remote: true, id: "activate_link_#{@resource_template.id}"
		%br/
		= link_to 'Delete Template', @resource_template, :method => :delete, :data => { :confirm => 'Are you sure?' }


.resource.span8
