<div class="control-group">
	<%= f.label :tags, class: 'control-label' %>
	<div class="controls">
		<%= f.text_field :tag, placeholder: 'Tag' %>
		<%= f.hidden_field :_destroy %>
		<%= link_to "Remove", '#', class: "remove_fields btn" %>
	</div>
</div>