

<h3 class="dashboard-heading"><span class="icon template-editor"></span>DMP Template Editors</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Revoke Role</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.full_name %></td>
          <td><%= user.login_id %></td>
          <td><%= user.email %></td>
          <td><%= link_to raw('<i class="icon-minus-sign icon-white"></i>'), remove_authorization_path(user_id: user.id, role_id: 3, p: 'requirements_templates'), class: "icon remove" %></td>
        </tr>
      <% end %>
      
    </tbody>
  </table>