/* Buttons */
.buttons {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-ms-box-sizing: content-box;
	border: 1px solid #B6B6B7;
	border-top: none;
	width: auto;
	min-height: 30px;
	margin: -20px 0 20px;
	padding: 10px;
	position: relative; }
.tab-pane .buttons {
	border: none;
	border-top: 1px solid #B6B6B7;
	margin: 0 -15px 0;
	padding-bottom: 0; }
.tab-pane.table .buttons {
	border: none;
	border-top: 1px solid #B6B6B7;
	margin: 0; }
.tab-pane.table .buttons, 
.tab-pane .buttons.pagination {
	padding-bottom: 10px; }
.buttons-alpha.row {
	clear: both;
	margin: 0 0 20px; }
a.btn, button, button.btn, input[type=submit], input[type=submit].btn {
	display: inline-block;
	border: none;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-ms-border-radius: 15px;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-ms-box-shadow: none !important;
	background: url(button_bg.jpg) repeat-x 0 0 transparent;
	color: #6D6E70 !important;
	font-size: 14px;
	font-weight: bold;
	text-shadow: none !important;
	text-decoration: none !important;
	text-align: center;
	line-height: 34px;
	width: auto;
	height: 30px;
	margin-right: 5px;
	padding: 0 20px; }
button.ui-datepicker-trigger {
	border: 1px solid #B6B6B7;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	padding: 0 10px; }
button img {
	display: block; }
.buttons.pagination a.btn, 
.buttons.pagination button, .buttons.pagination button.btn, 
.buttons.pagination input[type=submit], .buttons.pagination input[type=submit].btn {
	position: absolute;
	left: 10px; }
a.btn:hover, a.btn:focus, a.btn:active,
button:hover, button:focus, button:active, 
button.btn:hover, button.btn:focus, button.btn:active {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	background-image: url(button_bg.jpg);
	background-position: 0 -30px; }
a.btn.current {
	border: 2px solid #B6B6B7;
	background: #FFFFFF;
	color: #516935 !important;
	line-height: 30px;
	height: 26px;
	padding: 0 18px; }
a.btn-green, button.btn-green, input[type=submit], input[type=submit].btn {
	background-position: 0 -60px;
	color: #FFFFFF !important; }
a.btn-green:hover, a.btn-green:focus, a.btn-green:active,
button.btn-green:hover, button.btn-green:focus, button.btn-green:active,
input[type=submit]:hover, input[type=submit]:focus, input[type=submit]:active, 
input[type=submit].btn:hover, input[type=submit].btn:focus, input[type=submit].btn:active {
	background-position: 0 -90px; }
a.btn-gray, button.btn-gray {
	background-position: 0 -120px;
	color: #FFFFFF !important; }
a.btn-gray:hover, a.btn-gray:focus, a.btn-gray:active,
button.btn-gray:hover, button.btn-gray:focus, button.btn-gray:active {
	background-position: 0 -150px; }
a.btn-large {
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-ms-border-radius: 30px;
	box-shadow: 0 0 25px 3px #EFEFEF !important;
	-moz-box-shadow: 0 0 25px 3px #EFEFEF !important;
	-webkit-box-shadow: 0 0 25px 3px #EFEFEF !important;
	-ms-box-shadow: 0 0 25px 3px #EFEFEF !important;
	background-position: 0 -186px;
	color: #FFFFFF !important;
	font-size: 1.667em;
	font-weight: normal;
	line-height: 65px !important;
	height: 60px;
	padding-left: 35px;
	padding-right: 35px; }
a.btn-large:hover, a.btn-large:focus, a.btn-large:active {
	background-position: 0 -240px; }
.btn.pull-right {
	margin-left: 5px;
	margin-right: 0; }
.btn.pull-left {
	margin-left: 0;
	margin-right: 5px; }
	
/* UI Icons */
.icon {
	display: inline-block;
	background-image: url(dmp_icons.png);
	background-repeat: no-repeat;
	background-color: transparent;
	overflow: hidden; }
a.icon {
	text-decoration: none !important;
	vertical-align: middle;
	position: relative; }
span.icon {
	position: absolute;
	left: 0; }

/* Heading Icons */
.icon.data-plans {
	background-position: 0 -105px; width: 40px; height: 35px; }	
.icon.how-to {
	background-position: -40px -105px; width: 40px; height: 35px; }
.icon.news {
	background-position: -80px -105px; width: 40px; height: 35px; }
.icon.admin {
	background-position: -99px -30px; width: 33px; height: 25px; }
.icon.funder-guidance {
	background-position: -166px -30px; width: 33px; height: 25px; }
.icon.inst-guidance {
	background-position: -133px -30px; width: 33px; height: 25px; }
.icon.inst-profile {
	background-position: -90px -80px; width: 30px; height: 25px; }
.icon.profile {
	background-position: -66px -30px; width: 33px; height: 25px; }
.icon.template-editor {
	background-position: -75px -55px; width: 25px; height: 25px; }
.icon.template-new {
	background-position: 0 -55px; width: 25px; height: 25px; }
.icon.template-dmp {
	background-position: -25px -55px; width: 25px; height: 25px; }
.icon.template-resource {
	background-position: -50px -55px; width: 25px; height: 25px; }
.icon.template-details {
	background-position: -100px -55px; width: 25px; height: 25px; }
.icon.template-preview {
	background-position: -125px -55px; width: 25px; height: 25px; }
.icon.select {
	background-position: -120px -80px; width: 30px; height: 20px; }
.icon.review {
	background-position: -150px -55px; width: 25px; height: 25px; }
.icon.overview {
	background-position: -150px -80px; width: 30px; height: 20px; }
.icon.login {
	background-position: -175px -55px; width: 25px; height: 25px; }
	
/* Action Icons */
.icon.add {
	background-position: -25px 0; width: 15px; height: 15px; }
.icon.cancel {
	background-position: -40px -15px; width: 15px; height: 15px; }
.icon.checkmark {
	background-position: -25px -15px; width: 15px; height: 15px; }
.icon.remove {
	background-position: -40px 0; width: 15px; height: 15px; }

/* Tree View Icons */
a.icon.new, a.icon.delete {
	background: none;
	vertical-align: middle;
	line-height: 17px; }
a.icon.new {
	padding-left: 25px; }
a.icon.delete {
	color: #DA0049 !important;
	padding-left: 20px; }
a.icon.new:hover, a.icon.new:focus, a.icon.new:active, 
a.icon.delete:hover, a.icon.delete:focus, a.icon.delete:active {
	text-decoration: underline !important; }
.icon.requirements-group-open {
	background-position: -90px -20px; width: 18px; height: 10px;
	top: 2px; }
.icon.requirements-group-closed {
	background-position: -125px -20px; width: 18px; height: 10px;
	top: 2px;  }
.icon.new-requirements-group {
	background-position: -160px 0; width: 20px; height: 15px; }
.icon.requirement {
	background-position: -145px -15px; width: 15px; height: 15px; left: 2px; bottom: 1px; }
span.icon.new-requirement {
	background-position: -145px 0; width: 15px; height: 15px; }
a.icon.new-requirement {
	background:none;
	padding-left: 17px }
	
.icon.trash {
	background-position: -145px -15px; width :15px; height: 15px; }
.icon.close {
	background-position: 0 0; width: 30px; height: 30px; }
.icon.comment {
	background-position: -160px -15px; width: 20px; height: 15px;  }
.icon.mail {
	background-position: -75px -20px; width: 15px; height: 10px; }
.icon.mail:hover, .icon.mail:focus, .icon.mail:active {
	background-position: -90px -20px; }
.icon.arrow-up {
	background-position: -55px 0; width: 10px; height: 15px; }
.icon.arrow-up:hover, .icon.arrow-up:focus, .icon.arrow-up:active {
	background-position: -55px -15px; }
.icon.arrow-down {
	background-position: -65px 0px; width: 10px; height: 15px; }
.icon.arrow-down:hover, .icon.arrow-down:focus, .icon.arrow-down:active {
	background-position: -65px -15px; }
.icon.arrow-left {
	background-position: -75px 0; width: 15px; height: 10px; }
.icon.arrow-left:hover, .icon.arrow-left:focus, .icon.arrow-left:active {
	background-position: -75px -15px; }
.icon.arrow-right {
	background-position: -90px -10px; width: 15px; height: 10px; }
.icon.arrow-right:hover, .icon.arrow-right:focus, .icon.arrow-right:active {
	background-position: -90px -15px; }
.icon.edit-user {
	background-position: 0 -30px; width: 33px; height: 25px; }
.icon.remove-user {
	background-position: -33px -30px; width: 33px; height: 25px; }

/* Other Icons */
.icon.search {
	background-position: -180px -80px; width: 20px; height: 20px; }
.icon.inst {
	background-position: -180px 0; width: 20px; height: 15px;
	top: -3px; }
.icon.inst-domain {
	background-position: 0 -80px; width: 30px; height: 25px; }
.icon.inst-contact {
	background-position: -30px -80px; width: 30px; height: 25px; }
.icon.pdf {
	background-position: -105px 0; width: 20px; height: 20px; }
.icon.rtf {
	background-position: -125px 0; width: 20px; height: 20px; }