@import "bootstrap";
/* universal */

html{
	overflow-y: scroll;
}

body {
  padding-top: 40px;
  margin: 50px;
  padding-left: 60px;
}

section {
	overflow: auto;
}

textarea {
  resize: vertical;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #A7C177;
  text-decoration: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  text-align: left;
}
footer a {
  color: #999;
}

/* Forms */

form .clearfix:before, form .clearfix:after {
  display: inline;
}

.field_with_errors {
  padding: 0px !important;
  display: inline !important;
}

.form-errors {
  width: 450px;
}