// Place all the styles related to the customizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.cust_label {
  font-weight: bold;
}

p.cust_text {
  margin: 0 0 15px 20px;
}

h2.cust {
  margin-top: 1.5em;
  font-weight: bold;
}

div.cust_text_full {
  margin: 0 0 15px 20px;
  display: none;
}
