/* Forms */
form p {
	font-size: 1.125em; }
form ul li:before {
	content: ''; }
span.required, span[id*="status_"] {
	color: #DA0049; }
fieldset {
	border: none;
	padding: 0; }
label, input, input[type=text], input[type=password], input[type=email], input[type=search], button, select, textarea {
	font-size: 1.25em; }
label {
	display: inline-block;
	font-size: 1em;
	margin: 0;
	padding: 0; }
label.control-label {
	font-weight: bold; }
.control-group label {
	display: block; }
.control-group label.checkbox-label, .control-group label.radio-label {
	display: inline-block; }
label.control-label, .form-horizontal label.control-label {
	line-height: 30px;
	padding-top: 7px; }
.form-horizontal label.control-label {
	width: 180px; }
label.required:before {
	content: "\002A\0020";
	color: #DA0049; }
input[type=text], input[type=password], input[type=email], input[type=search], textarea, select {
	border-color: #B6B6B7;
	color: #4C4C4E;
	margin: 5px 10px 5px 0;
	padding: 4px 6px; }
input.input-large {
	width: 200px; }
input[type=radio], input[type=checkbox] {
	border: none;
	vertical-align: top;
	height: 17px;
	margin: 0 4px 0 0;
	padding: 0; }
textarea {
  resize: vertical; }
.radio.inline, .checkbox.inline {
	vertical-align: top; }
.control-group, .form-horizontal .control-group {
	margin-bottom: 10px; }
.form-horizontal .controls {
	margin-left: 200px; }
.controls.radio-controls, .controls.checkbox-controls {
	margin-top: 12px; }
	
.alert {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-ms-border-radius: 0;
	margin: 0;
	padding: 8px 10px 5px; }
.alert p {
	font-size: 1.167em;
	margin: 0; }

#notice {
  color: green; }

.field_with_errors {
  display: inline;
  /*
	display: table;
  background-color: #FF0000;
  padding: 2px;*/ }

div.field_with_errors label {
  font-weight: bolder;
  font-size: 105%;
  color: red;
}

div.field_with_errors input {
  border-color: red;
  background-color: papayawhip;
}

#error_explanation {
  border: 2px solid #FF0000;
  background-color: #F0F0F0;
  width: 450px;
  padding: 7px 7px 0;
  margin-bottom: 20px; 
  h2 {
    background-color: #CC0000;
    color: #FFF;
  	font-size: 12px;
  	font-weight: bold;
    text-align: left;
    margin: -7px -7px 0;
    padding: 5px 5px 5px 15px; } }
    
/* Search Area */
.search-area {
  width: auto;
  margin-bottom: 10px;
  position: relative; }
.search-area input[type=search] {
	display: inline;
  margin: 0 5px 0 0;
  padding-left: 30px; }
.search-area .search {
	position: absolute;
	top: 5px;
	left: 8px; }
    
/* Auto Complete */	
.ui-autocomplete-loading {
  background: #FFF url(throbber.gif) no-repeat 100% 50%; }
  
/* Custom File Upload Styles */
.file-upload {
	position: relative; }
.file-upload input[type=file] {
	cursor: pointer;
	width: 190px;
	margin: 5px 10px 5px 0;
	position: relative;
	z-index: 2;
	opacity: 0; }
.file-upload input[type=text] {
	width: 180px;
	position: absolute;
	z-index: 1; }
.file-upload button {
	margin: 5px;
	position: absolute;
	z-index: 1; }
