div.usage-statistics {
  overflow: auto;
  
  h3 {
    font-weight: bold;
    margin-left: 25px;
    
    .statistic-date {
      display: inline;
      margin-left: 25px;
      
      select {
        font-size: 15px;
      }
    }
    
    
  }
  
  .statistics {
    
    .statistics-row {
      float: left;
      clear: left;

      display: block;
      margin: 0 auto;
      width: 600px;
      
      .statistic-card {
        position: relative;
        float: left;
      
        border: 1px rgb(182,182,183) solid;
        margin: 10px 15px;
        padding: 40px 15px 40px 15px;
      
        text-align: center;
        vertical-align: middle;
      
        font-size: .9rem;
        font-weight: bold;
      }
    }
  }
}