div.help_box_head {
    background-color: #516935;
    color: white;
    width: 97%;
    margin: 1em 0px 0px 0px;
    border-color:#516935;
    border-style: solid;
    border-width:1px;
    padding: 0.3em 0.5em 0.3em 0.5em;
}

.help_box_head a:link {color: #dddddd; text-decoration: underline; }
.help_box_head a:active {color: #dddddd; text-decoration: underline; }
.help_box_head a:visited {color: #dddddd; text-decoration: underline; }
.help_box_head a:hover {color: #ffffff; text-decoration: none; }

div.help_box {
    border-color:#516935;
    border-style: solid;
    border-width:1px;
    width: 97%;
    margin: 0px 0px 1em 0px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    height: 60px;
    overflow: auto;
}

div.comment_box{
  border:0.5px solid #B6B6B7;
  padding:1em;
  margin-top:2em;
}

.spaced_below{
  margin-top: 3em;
}



.ui-widget-overlay.custom-overlay
{
    border: 1px solid #aaaaaa;
    background-color: black;
    background-image: none;
    opacity: 0.78;
    background-position-x: 50%;
    background-position-y: 50%;

    background-size: initial;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    color: #222222;

}

/*.ui-state-default.ui-widget-content.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close.custom-close*/

.custom-close{
    background: none;
}

.dmp-preview ul>li {
  list-style-type: disc;
}





