body {
  background-color: #FFFFFF;
  color: #4C4C4E;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.125em; }
p, ol, ul, td, th {
  font-family: Helvetica, sans-serif;
  font-size: 1em; }
pre {
  background-color: #eee;
  font-size: 0.9em;
  padding: 10px; }
a {
  color: #72942E;
  &:visited {
    color: #72942E; }
  &:hover {
    color: #72942E; } }
#notice {
  color: green; }
.field_with_errors {
	display: table;
  background-color: #FF0000;
  padding: 2px; }
#error_explanation {
  border: 2px solid #FF0000;
  background-color: #F0F0F0;
  width: 450px;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  h2 {
    background-color: #CC0000;
    color: #FFF;
  	font-size: 12px;
  	font-weight: bold;
    text-align: left;
    margin: -7px -7px 0;
    padding: 5px 5px 5px 15px; }
  ul li {
    list-style: square; } }
