/* Homepage Banner */
.banner.row-fluid {
	background: url(header_bg.jpg) no-repeat 0 -117px transparent;
	width: 1024px;
	height: 333px;
	margin: 0 0 35px;
	padding: 0;
	position: relative; }
.banner h1 {
	color: #FFF;
	font-size: 4em;
	font-weight: lighter;
	margin: 0;
	position: absolute;
	top: 60px;
	left: 35px; }
.banner p {
	color: #FFF;
	font-size: 2em;
	font-weight: lighter;
	line-height: 1.25;
	margin: 0;
	position: absolute;
	top: 175px;
	left: 35px; }
.banner a.btn {
	position: absolute;
	right: 310px;
	bottom: 85px; }
/* Homepage Buckets */
.buckets-header.row-fluid {
	clear: both;
	border-top: 1px solid #B6B6B7;
	border-bottom: 1px solid #B6B6B7;
	margin: 0 0 8px;
	padding: 0; }
.buckets.row-fluid {
	margin: 0;
	padding: 0; }
.buckets.row-fluid .span4, .buckets-header.row-fluid .span4 {	
	width: 33%;
	margin: 0; }
.buckets-header .span4 {
	border: none;
	height: 54px;
	padding: 8px 0; }
.buckets .span4 {
	border-left: 1px solid #B6B6B7;
	height: 270px;
	padding: 10px 20px; }
.buckets .span4:first-child {
	border-left: none;
	border-right: none;
	padding-left: 20px; }
.buckets-header h2 {
	border-left: 1px solid #B6B6B7;
	text-transform: uppercase;
	line-height: 44px;
	height: 40px;
	margin: 0;
	padding: 0 0 0 73px;
	position: relative;
	overflow: hidden; }
.buckets-header .span4:first-child h2 {
	background-position: 20px 0;
	border-left: none; }
.buckets-header h2 .icon {
	top: 2px;
	left: 20px; }
.buckets p {
	font-size: 1.167em;
	margin-bottom: 25px; }
.buckets ul {
	margin: 0; }
.buckets li {
	color: #516935; }
.buckets .dmp_tool_news .scrollbox {
	border: 1px solid #B6B6B7;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	overflow: hidden; }
.buckets ul li:before {
	content: "\00BB\0020"; }
.buckets ul li {
	list-style: none;
	margin: 0 0 5px;
	padding: 0; }
.buckets .dmp_tool_news ul li {
	margin-bottom: 8px; }
.buckets a {
	font-weight: bold; }
.buckets a.btn {
	position: absolute;
	bottom: 15px; }
	
/* Static Pages */
.static-page {
	margin: 20px 35px; }
.static-page a {
	text-decoration: underline; }
.static-page ul, .static-page ol {
	margin-top: 20px;
	margin-bottom: 20px; }
.static-page ol ul > li {
	list-style: disc; }

/* Video */
.embedded-video {
	width: 800px;
	margin: 50px 77px; }
	
/* Contact */
.contact .pull-right {
	margin-right: 85px; }
