<div class= 'requirement_instruction'>
	<strong>Instruction :</strong>
	<span><%= instruction(requirement_id) %></span>
</div>
<br/>
<div class= 'requirement_guidance'>
	<strong>Guidance :</strong>
	<% guidance(requirement_id) %>
	<% resources = display_text(@resource_contexts) %>
	<ul>
		<% resources.each do |resource| %>
			<li><%= resource.text %></li>
		<% end %>
	</ul>
</div>

<div>
  <% @requirement = Requirement.find(params[:requirement_id]) %>
  <p>THIS IS FOR ALL CASES 1-5 &amp; 7</p>
  <% @requirement.resources(current_user.institution_id).guidance.each do |resource| %>
    <p><%= resource.text %></p>
  <% end %>
</div>

<div>
  <% @requirement = Requirement.find(params[:requirement_id]) %>
  <p>THIS IS FOR CASES 1-3</p>
  <% (
        @requirement.global_resources.guidance + # case #1
        @requirement.template_resources.guidance + #case #2
        @requirement.requirement_resources.guidance # case #3
     ).each do |resource| %>
          <p><%= resource.text %></p>
  <% end %>
</div>