<div class= 'requirement_instruction'>
	<strong>Instruction :</strong>
	<span><%= instruction(requirement_id) %></span>
</div>
<br/>
<div class= 'requirement_guidance'>
	<strong>Guidance :</strong>
	<% guidance(requirement_id) %>
	<% resources = display_text(@resource_contexts) %>
	<ul>
		<% resources.each do |resource| %>
			<li><%= resource.text %></li>
		<% end %>
	</ul>
</div>