<ul>
	<% unless @plan_states.nil? %>
		<% @plan_states.each do |planstate| %>
		<% unless planstate.state.nil? %>
		  <li><span class="date-updated"><%= planstate.updated_at.strftime("%m/%d/%Y %I:%M%p")%></span>
		  	<strong><%= plan_user(planstate) %></strong> set the status to <strong class="blue"><%= planstate.display_state %></strong></li>
			<% end %>
		<% end %>
	<% end %>
</ul>
