<p>List of sample data management plans provided by DMPTool users.</p>
<ul>
  <% @public_dmps.each do |plan| %>
    <li><%= link_to plan.name, plan_path(plan) %></li>
  <% end %>
</ul>
<%= link_to "View All", public_dmps_path, :class => "btn btn-gray" %>
