<div class= 'requirement_instruction'>
	<strong>Instruction :</strong>
	<span><%=  Requirement.find(requirement_id).text_full %></span>
</div>
<div class= 'requirement_guidance'>
	<strong>Guidance :</strong>
	<span><%=  guidance(requirement_id) %></span>
</div>