<h3>Publish my DMP: </h3>

<%= form_for @plan do %>
	<div class="control-group">
	  <div class="controls radio-controls">
			<%= radio_button_tag(:plan, @plan.id, :class => 'radio inline') %>
			<label>Institutional</label>
			<%= radio_button_tag(:plan, @plan.id, :class => 'radio inline') %>
			<label>Private</label>
			<%= radio_button_tag(:plan, @plan.id, :class => 'radio inline') %>
			<label>Public</label>
		</div>
	</div>
<% end %>