<h3> Working on this page : "select_dmp_template" </h3>


<%= link_to "<< Create New DMP <<", plan_template_information_path, :method => :get, :class => "btn pull-left"%>


<%= link_to ">> DMP Overview >>", new_plan_path, :method => :get, :class => "btn pull-right"%>
