<html>
  <head>
<%# stylesheet_link_tag "scaffolds" %>
    <style>
      .guidance {
        margin: 1em 0 1em 0;
      }
      li {
        line-height: 1.3;
        margin: 0 0 5px 0; }
      .dmp-preview ol > li {
        list-style: decimal; }
      .dmp-preview ol ol > li {
        list-style: decimal; }
      .dmp-preview ol ol ol > li {
        list-style: lower-latin; }
      .dmp-preview ol ol ol ol> li {
        list-style: lower-roman; }
      .dmp-preview ol ol ol ol ol> li {
        list-style: decimal; }
      .dmp-preview ol ol ol ol ol ol> li {
        list-style: lower-latin; }
      .dmp-preview ol ol ol ol ol ol ol> li {
        list-style: lower-roman; }
    </style>
  </head>
  <body>
    <div class="dmp-preview">
      <h1><%= @plan.name %></h1>
      <hr/>
      <%= render(partial: "requirement_docx",
           collection: (@plan.requirements_template.requirements.order(:position).roots),
           locals: { heading: "", level: 1 }) %>
    </div>
  </body>
</html>