<!-- This is a temporary file meant to catch errors caused by users trying to login from dmp.cdlib.org -->
<% @title_text = "Log In" %>
<% @display_menu = "log_in" %>
<h1 class="row-fluid"><span class="icon login"></span>Institution Log In</h1>
<div class="login row-fluid">
	<div class="span5 user_login">
		<h2>Login from wrong URL</h2>
		<p>It looks like you may have tried to login using an old https://dmp.cdlib.org URL. Please try logging in again by clicking the 'Log in' link above.</p>
		<p>Then update your bookmark to use the https://dmptool.org URL.</p>
	</div>
</div>