<h4>Log In</h4>
<div class="user_login">
	<h5>Log in through your institution</h5>
	<p>
		Select your institution below and you will be directed to your institutional log in page.
	</p>	
  <%= form_tag login_path, method: :post do %>
		<div class="control-group">
    	<%= select_tag(:institution_id, options_for_select(@inst_list), :prompt => 'Select your institution', :include_blank => 'none') %>
  	</div>
    <%= submit_tag "Next" %>
  <% end %>
  
  <p>
  	If you do not see your institution in the list, please select &quot;None of the above&quot;
  	and click Next.
  </p>


</div>
