<div class="login row-fluid">
	<h3 class="dashboard-heading"><span class="icon login"></span>Reset Password</h3>
	<div class="span5 user_login">
		<p>Enter your email address or username below to reset your password and send an email with the new password to your registered email address.</p>	
	  <%= form_tag action: 'password_reset', method: :post do %>
			<div class="control-group">
				<%= label_tag :user_id, 'Email or username' %>
				<%= text_field_tag(:user_id)%>
	  	</div>
	    <%= submit_tag "Submit" %>
	  <% end %>
	</div>
</div>
