<br/>
<h2 class="dashboard-heading"><span class="icon login"></span>Reset Password</h2>
<div class="login row-fluid">
	<div class="span5 user_login">
		<p>Enter your email address or username below to reset your password and send an email with the new password to your registered email address.</p>	
	  <%= form_tag({:action => 'password_reset'}, {:method => 'post'}) do %>
			<div class="control-group">
				<%= label_tag :email, 'Email or username' %>
				<%= text_field_tag(:email)%>
	  	</div>
	    <%= submit_tag "Submit" %>
	  <% end %>
	</div>
</div>
