	<footer class ='footer' >
	<hr/>
	DMPTOOL is a service of the <a href="http://www.cdlib.org/services/uc3">University of California Curation Center</a>
  of the <a href="http://cdlib.org/">California Digital Library</a><br/>
  Copyright &copy; 2010-<%=Time.new.year%> The Regents of the University of California<br/>
	<a href = "http://www.cdlib.org/about/privacy.html", target = "_blank">Privacy Policy</a>
	|
	<%= link_to "Terms of Use", '#' %>
	|
	<a href = "http://blogs.library.ucla.edu/dmptool/photo-credits", target = "_blank">Photo Credits</a>
	|
	<%= link_to "About", about_path %>
</footer>
